.song-card {
  border-radius: 50px;
  background: #1d1b1b;
  // box-shadow: 20px 20px 60px #191717, -20px -20px 60px #211f1f;

}

.song-container {
  width: 40vw;
    padding: 2rem;
    // margin-top: -2.5rem;
    margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 5rem;
}

.audio-container {
  margin-top: 2rem;
}

.audio-container {
  --player-button-width: 3em;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}

.timeline {
  -webkit-appearance: none;
  width: calc(100% - var(--player-button-width));
  height: 0.9em;
  background-color: #e5e5e5;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#de5e97, #de5e97);
  background-repeat: no-repeat;
}
.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  // opacity: 0;
  transition: all 0.1s;
  background-color: #a94672;
}
.timeline::-webkit-slider-thumb:hover {
  background-color: #943f65;
}
.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}
.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
