

.main-page{
  position: relative;
  height: 100vh;
  background-color: black;
}

.main{
  position: absolute;
  top: 6rem;
  background-color: black;

  // margin-top: 5rem;
  width: 100%;
  // height: 100vh;
  // border: 1px solid white;
  color: white;
}


.all-components{
  width: 95%;
  margin: auto;
}
