.text{
  color: rgb(161, 161, 161);
}

.search{
  width: 100%;
  margin: auto;
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.artists{
  padding: 0.5rem;
  margin-top: 0.5rem;
  overflow: auto;
}

.artist{
    border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.artist{
  display: flex;
}

.artist .image{
  width: 33%;
  box-sizing: border-box;
  margin-right: 1rem;
  border-radius: 10px;
  text-align: center;
}

image{
  width: 100%;
  max-height: 10px;
  background-size: cover;
}

.details{
  display: flex;
    flex-direction: column;
    text-align: left;
}
.details > h3{
  text-decoration: underline;
}
.details > h3:hover{
  color: greenyellow;
  cursor: pointer;
}
.genre-container{
  display: block;
}

.genre{
  display: inline;
  margin: 0.5rem;
  color: rgb(179, 155, 19);
}
