<h1>Need some refreshment...?</h1>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam tempore minima iusto officia
  voluptatem
  repellendus nam inventore blanditiis doloremque. Cum sed iure temporibus alias! Nam neque nulla eaque minus
  temporibus?</p>

<div class="search-div">
  <input class="search" type="text" (keyup)="searchMusic()" [(ngModel)]="searchStr"
    placeholder="Put your words here...">
</div>

<div *ngIf="searchStr">
  <div class="artist-page">
    <div class="artists" *ngFor="let artist of artists">
      <div class="artist">
        <div class="image">
          <img src={{artist.images[1].url}} alt="image" [ngStyle]="{width: '250px', height:'250px'}">
        </div>
        <div class="details">
          <h3 routerLink="/artist/{{artist.id}}">{{artist.name}}</h3>
          <p>Followers: {{artist.followers.total}}</p>
          <div class="genre-container">Genre:</div>
          <div class="genre" *ngFor="let item of artist.genres">{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
